* {
    font-family: "Irish Grover", serif;
}
body {
    box-sizing: border-box;
}
a {
    text-align: center;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

img {
    height: 100%;
    width: 100%;
}

.main {
    margin: 100px 100px;
    
}
.marvel-detail {
    padding: 20px;
    margin: 100px 0;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container {
     height: 500px;
     width: 300px; 
    flex-basis: 20%;
}
.detail-container {
    flex-basis: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
@media screen and (max-width: 830px ) {
    .main {
        margin: 0;
        padding: 0;
    }
    .marvel-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
 
}

