* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

:root {
    --bkg1 : #292C4F;
    --bkg4 : #16192C;
    --bkg6 : rgba(13, 2, 62, 0.592);
    --shadow : rgba(168, 166, 166, 0.56) 0px 22px 70px 4px;
}

body {
    background-color: var(--bkg4);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header a {
    font-family: "Irish Grover", serif;
    color: wheat;
    font-size: 1.4rem;
}

h1 {  
    font-family: "Irish Grover", serif;
    font-weight: 700;
    font-style: normal;
    color: wheat;
    text-align: center;
    font-size: 3rem;          
}

.main {
    background-color: var(--bkg1);
    border-radius: 20px;
    margin: 100px 0;
    border: 1px solid var(--bkg1);
    box-shadow: var(--shadow);
}
.marvel-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 0 100px;
    justify-content: center;
}

.marvel-items-container{
    background-color: var(--bkg6);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: wheat;
}
.marvel-img-container {
    height: 350px;
    width: 250px;
    padding: 20px; 
}

img {
    height: 100%;
    width: 100%;
}

.marvel-container button {
    font-family: "Irish Grover", serif;
    background-color: wheat;
    padding: 10px 50px;
    font-size: 1.6rem;
    border-radius: 8px;
    cursor: pointer;
}

.footer {
    margin: 0;
    padding: 0;
    border: 1px solid white;
    height: 50px;
    color: white;
    text-align: center;
}  
